
html {
  position: relative;
  min-height: 100%; 
}

footer {
  position: absolute;
  padding-top: 10px;
  padding-bottom: 8px;
  color: #FFF;
  bottom: 0;
  width: 100%;
  min-height: 40px;
  background: rgba(0,0,0,0.8);
}


/* RESPONSIVE QUERY
============================================================================*/

@media (max-width: 750px){ /* critical size on tablet */
html { min-height: 10%;}
footer {position: relative;}
}
